<h1>Beverage List</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Roast</th>
      <th>Expiration Date</th>
      <th>Brew</th>
      <!-- column span is 6 because we have 6 indexes -->
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
  <!-- erb- embedded ruby -->
  <!-- looping through  -->
  <!-- do not use = at beginning for this -->
    <% @beverages.each do |beverage| %>
      <tr>
      <!-- like ng-repeat - every pastry in pastries show name, price, quantities -->
        <td><%= beverage.bev_type %></td>
        <td><%= beverage.price %></td>
        <td><%= beverage.quantity %></td>
        <td><%= beverage.roast %></td>
        <td><%= beverage.expiration_date %></td>
        <td><%= beverage.brew %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>